<div class="chat-message my-message">
    <div class="chat-message-wrap">
        <div class="chat-message-header">
            <span class="chat-message-username">Reverse bot</span>
            <div class="chat-message-time">13:20 PM</div>
        </div>
        <div class="chat-message-body">
            <span>Hello World!</span>
        </div>
    </div>
</div>

<div class="chat-message">
    <div class="chat-message-wrap">
        <div class="chat-message-header">
            <span class="chat-message-username">Reverse bot</span>
            <div class="chat-message-time">13:20 PM</div>
        </div>
        <div class="chat-message-body">
            <span>Hello World!</span>
        </div>
    </div>
</div>