.chat-body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &-scrollbar {
    --scrollbar-color: transparent;
    --scrollbar-container-color: transparent;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
    --scrollbar-border-radius: 5px;
    --scrollbar-size: 10px;
    --scrollbar-padding: 0;
    --scroll-view-margin: 0;
    --scroll-view-color: transparent;
  }
}