.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-tabs {
    display: flex;
    height: 40px;
    flex-shrink: 0;
  }
  &-tab {
    width: 100%;
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    &.active {
      background-color: #fff;
      border-color: transparent;
    }
  }
}
app-users-list {
  height: 100%;
}